mulesoft-experiment/src/main/mule/mulesoft-experiment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="mulesoft-experimentFlow" doc:id="6821b8d3-824c-4890-b4dc-53e0fbc08b6f" >
		<http:listener doc:name="Listener" doc:id="5a990fe0-db41-425d-b353-535937b98830" config-ref="HTTP_Listener_config" path="/hellomule"/>
		<db:select doc:name="Select" doc:id="5da15264-a582-40b8-af45-50501732af5c" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM contacts;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="87b67096-ffd8-4e72-93b7-a94cb432a726" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="Logger" doc:id="f5aaa5d8-4c12-4115-ae74-4f6fcf19c968" message='#[output application/json &#10;---&#10;payload]'/>
	</flow>
</mule>
